.container{
    height: 20px;
    width: 42px;
    border: 1.0px solid #28debe;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 2px;
}
.icon{
    font-size: 12px;
}
.toggleCircle{
    height: 16px;
    width: 16px;
    background-color: #28debe;
    border-radius: 50%;
    position: absolute;   
    cursor: pointer;
}